.cont-color {
    background-color: blue;
}

.row-color {
    border: 2px solid black;
    min-height: 100px;
}

.col-color {
    background-color: green;
}
.col-color2 {
    background-color: rgb(146, 218, 146);
}